In [43]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt 
df = pd.read_stata('/Volumes/Seagate Backup Plus Drive/NAL/NAL2014/nal23rts2014.dta',convert_categoricals=False)

In [45]:
df.shape

(892397, 166)

In [46]:
df.head(10)

,co_no,parcel_id,file_t,asmnt_yr,bas_strt,atv_strt,grp_no,landuse,pa_uc,spass_cd,...,spc_cir_yr,spc_cir_txt,parcel,parcel_orig,rng,twn,sec,taxauthc,county,jurisdiction
0,23,101000000020,R,2014,6.0,6.0,4.0,28,65,NaN,...,NaN,NaN,0101000000020,101000000020,41E,50S,00,101,23.0,Miami
1,23,101000000022,R,2014,10.0,NaN,NaN,86,17,NaN,...,NaN,NaN,0101000000022,101000000022,41E,50S,00,101,23.0,Miami
2,23,101000000026,R,2014,7.0,8.0,4.0,90,17,NaN,...,NaN,NaN,0101000000026,101000000026,41E,50S,00,100,23.0,Miami
3,23,101000000030,R,2014,5.0,8.0,4.0,10,81,NaN,...,NaN,NaN,0101000000030,101000000030,41E,50S,00,101,23.0,Miami
4,23,101000000120,R,2014,10.0,NaN,NaN,80,66,NaN,...,NaN,NaN,0101000000120,101000000120,41E,50S,00,101,23.0,Miami
5,23,101000000125,R,2014,10.0,NaN,NaN,80,80,NaN,...,NaN,NaN,0101000000125,101000000125,41E,50S,00,101,23.0,Miami
6,23,101000000150,R,2014,NaN,NaN,NaN,98,62,NaN,...,NaN,NaN,0101000000150,101000000150,41E,50S,00,101,23.0,Miami
7,23,101000000260,R,2014,6.0,6.0,4.0,18,13,NaN,...,NaN,NaN,0101000000260,101000000260,41E,50S,00,101,23.0,Miami
8,23,101000000270,R,2014,10.0,NaN,NaN,80,80,NaN,...,NaN,NaN,0101000000270,101000000270,41E,50S,00,101,23.0,Miami
9,23,101000000280,R,2014,10.0,NaN,NaN,80,47,NaN,...,NaN,NaN,0101000000280,101000000280,41E,50S,00,101,23.0,Miami

In [24]:
df.describe()

/Users/tylerworthington/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)
/Users/tylerworthington/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)
/Users/tylerworthington/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)
/Users/tylerworthington/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,co_no,asmnt_yr,bas_strt,atv_strt,grp_no,landuse,pa_uc,spass_cd,jv,jv_chng,...,exmpt_38,exmpt_39,exmpt_40,exmpt_80,exmpt_81,seq_no,spc_cir_cd,spc_cir_yr,spc_cir_txt,county
count,892397.0,892397.0,882902.000000,856978.000000,856978.000000,892397.000000,892397.000000,0.0,8.923970e+05,5.426000e+03,...,23.000000,8588.000000,0.0,55.000000,64.000000,892397.000000,0.0,0.0,0.0,892397.000000
mean,23.0,2014.0,1.787484,1.979395,2.988613,8.119303,10.260631,NaN,3.199869e+05,8.258026e+04,...,65117.869565,30285.864928,NaN,91099.836364,57530.218750,448736.791746,NaN,NaN,NaN,23.182602
std,0.0,0.0,1.982609,2.293246,1.449049,18.226039,18.913778,NaN,1.961258e+06,1.732736e+06,...,69590.196053,22159.414266,NaN,92802.761618,70884.109422,259424.468750,NaN,NaN,NaN,0.182287
min,23.0,2014.0,1.000000,1.000000,1.000000,0.000000,0.000000,NaN,0.000000e+00,-3.772113e+07,...,3832.000000,1.000000,NaN,0.000000,4337.000000,1.000000,NaN,NaN,NaN,23.000000
25%,23.0,2014.0,NaN,NaN,NaN,1.000000,1.000000,NaN,8.278000e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,223994.000000,NaN,NaN,NaN,23.000000
50%,23.0,2014.0,NaN,NaN,NaN,4.000000,7.000000,NaN,1.455600e+05,NaN,...,NaN,NaN,NaN,NaN,NaN,448389.000000,NaN,NaN,NaN,23.000000
75%,23.0,2014.0,NaN,NaN,NaN,4.000000,7.000000,NaN,2.509920e+05,NaN,...,NaN,NaN,NaN,NaN,NaN,673327.000000,NaN,NaN,NaN,23.000000
max,23.0,2014.0,10.000000,8.000000,5.000000,99.000000,99.000000,NaN,5.324757e+08,6.350553e+07,...,266537.000000,138414.000000,NaN,385048.000000,427717.000000,898907.000000,NaN,NaN,NaN,23.000000

In [38]:
df['sale_prc1'].describe()

/Users/tylerworthington/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

count    6.633560e+05
mean     4.284552e+05
std      3.912315e+06
min      0.000000e+00
25%               NaN
50%               NaN
75%               NaN
max      4.600000e+08
Name: sale_prc1, dtype: float64

In [30]:
df['census_bk']

/Users/tylerworthington/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

count    8.899060e+05
mean     1.208601e+11
std      3.348390e+05
min      1.208600e+11
25%               NaN
50%               NaN
75%               NaN
max      1.208699e+11
Name: census_bk, dtype: float64

In [42]:
df['jv'].describe()

count    8.923970e+05
mean     3.199869e+05
std      1.961258e+06
min      0.000000e+00
25%      8.278000e+04
50%      1.455600e+05
75%      2.509920e+05
max      5.324757e+08
Name: jv, dtype: float64

In [52]:
df['landuse'].describe()

count    892397.000000
mean          8.119303
std          18.226039
min           0.000000
25%           1.000000
50%           4.000000
75%           4.000000
max          99.000000
Name: landuse, dtype: float64

In [55]:
df['landuse'].astype('category')
map_landuse = {0: "Vacant Residential", 1: "Single Family", 2: "Mobile Homes", 3: "Multi-family - 10 units or more",
4: "Condominiums", 5: "Cooperatives", 6: "Retirement Homes not eligible for exemption.", 7: "Miscellaneous Residential (migrant camps, boarding homes, etc.)",
8: "Multi-family - less than 10 units", 9: "Undefined - Reserved for Use by Department of Revenue", 10: "Vacant Commercial", 11: "Stores, one story",
12: "Mixed use - store and office or store and residential or residential combination", 13: "Department Stores", 14: "Supermarkets",
15: "Regional Shopping Centers", 16: "Community Shopping Centers", 17: "Office buildings, non-professional service buildings, one story", 18: "Office buildings, non-professional service buildings, multi-story",
19: "Professional service buildings", 20: "Airports (private or commercial), bus terminals, marine terminals, piers, marinas.", 21: "Restaurants, cafeterias",
22: "Drive-in Restaurants", 23: "Financial institutions (banks, saving and loan companies, mortgage companies, credit services)", 24: "Insurance company offices",
25: "Repair service shops (excluding automotive), radio and T.V. repair, refrigeration service, electric repair, laundries, laundromats", 26: "Service stations",
27: "Auto sales, auto repair and storage, auto service shops, body and fender shops, commercial garages, farm and machinery sales and services, auto rental, marine equipment, trailers and related equipment, mobile home sales, motorcycles, construction vehicle sales",
28: "Parking lots (commercial or patron) mobile home parks", 29: "Wholesale outlets, produce houses, manufacturing outlets", 30: "Florist, greenhouses",
31: "Drive-in theaters, open stadiums", 32: "Enclosed theaters, enclosed auditoriums", 33: "Nightclubs, cocktail lounges, bars", 34: "Bowling alleys, skating rinks, pool halls, enclosed arenas",
35: "Tourist attractions, permanent exhibits, other entertainment facilities, fairgrounds (privately owned).", 36: "Camps", 37: "Race tracks; horse, auto or dog",
38: "Golf courses, driving ranges", 39: "Hotels, motels", 40: "Vacant Industrial", 41: "Light manufacturing, small equipment manufacturing plants, small machine shops, instrument manufacturing printing plants",
42: "Heavy industrial, heavy equipment manufacturing, large machine shops, foundries, steel fabricating plants, auto or aircraft plants", 43: "Lumber yards, sawmills, planing mills",
44: "Packing plants, fruit and vegetable packing plants, meat packing plants", 45: "Canneries, fruit and vegetable, bottlers and brewers distilleries, wineries", 46: "Other food processing, candy factories, bakeries, potato chip factories",
47: "Mineral processing, phosphate processing, cement plants, refineries, clay plants, rock and gravel plants.", 48: "Warehousing, distribution terminals, trucking terminals, van and storage warehousing",
49: "Open storage, new and used building supplies, junk yards, auto wrecking, fuel storage, equipment and material storage", 50: "Improved agricultural", 51: "Cropland soil capability Class I",
52: "Cropland soil capability Class II", 53: "Cropland soil capability Class III", 54: "Timberland - site index 90 and above", 55: "Timberland - site index 80 to 89 056 Timberland - site index 70 to 79 057 Timberland - site index 60 to 69",
58: "Timberland - site index 50 to 59 059 Timberland not classified by site index to Pines", 60: "Grazing land soil capability Class I", 61: "Grazing land soil capability Class II", 62: "Grazing land soil capability Class III",
63: "Grazing land soil capability Class IV", 64: "Grazing land soil capability Class V", 65: "Grazing land soil capability Class VI", 66: "Orchard Groves, Citrus, etc.", 67: "Poultry, bees, tropical fish, rabbits, etc.",
68: "Dairies, feed lots", 69: "Ornamentals, miscellaneous agricultural", 70: "Vacant , with or without extra features", 71: "Churches", 72: "Private schools and colleges", 73: "Privately owned hospitals",
74: "Homes for the aged", 75: "Orphanages, other non-profit or charitable services", 76: "Mortuaries, cemeteries, crematoriums", 77: "Clubs, lodges, union halls", 78: "Sanitariums, convalescent and rest homes",
79: "Cultural organizations, facilities", 80: "Undefined - Reserved for future use", 81: "Military", 82: "Forest, parks, recreational areas", 83: "Public county schools - include all property of Board of Public Instruction",
84: "Colleges", 85: "Hospitals", 86: "Counties (other than public schools, colleges, hospitals) including non-municipal government.", 87: "State, other than military, forests, parks, recreational areas, colleges, hospitals",
88: "Federal, other than military, forests, parks, recreational areas, hospitals, colleges", 89: "Municipal, other than parks, recreational areas, colleges, hospitals", 90: "Leasehold interests (government owned property leased by a non-governmental lessee)",
91: "Utility, gas and electricity, telephone and telegraph, locally assessed railroads, water and sewer service, pipelines, canals, radio/television communication", 92: "Mining lands, petroleum lands, or gas lands", 93: "Subsurface rights",
94: "Right-of-way, streets, roads, irrigation channel, ditch, etc.", 95: "Rivers and lakes, submerged lands", 96: "Sewage disposal, solid waste, borrow pits, drainage reservoirs, waste land, marsh, sand dunes, swamps",
97: "Outdoor recreational or parkland, or high-water recharge subject to classified use assessment.", 98: "Centrally assessed Non-Agricultural Acreage Property", 99: "Acreage not zoned agricultural with or without extra features"}

df["landuse_explained"] = df["landuse"].map(map_landuse)

In [57]:
from collections import Counter
Counter(df["landuse_explained"])

Counter({'Acreage not zoned agricultural with or without extra features': 6764,
         'Airports (private or commercial), bus terminals, marine terminals, piers, marinas.': 54,
         'Auto sales, auto repair and storage, auto service shops, body and fender shops, commercial garages, farm and machinery sales and services, auto rental, marine equipment, trailers and related equipment, mobile home sales, motorcycles, construction vehicle sales': 1648,
         'Bowling alleys, skating rinks, pool halls, enclosed arenas': 27,
         'Camps': 5,
         'Canneries, fruit and vegetable, bottlers and brewers distilleries, wineries': 9,
         'Centrally assessed Non-Agricultural Acreage Property': 314,
         'Churches': 1300,
         'Clubs, lodges, union halls': 132,
         'Colleges': 35,
         'Community Shopping Centers': 364,
         'Condominiums': 346854,
         'Cooperatives': 3174,
         'Counties (other than public schools, colleges, hospitals) including non-municipal government.': 1421,
         'Cropland soil capability Class I': 11,
         'Cropland soil capability Class III': 2498,
         'Cultural organizations, facilities': 3,
         'Department Stores': 58,
         'Drive-in Restaurants': 168,
         'Drive-in theaters, open stadiums': 3,
         'Enclosed theaters, enclosed auditoriums': 16,
         'Federal, other than military, forests, parks, recreational areas, hospitals, colleges': 105,
         'Financial institutions (banks, saving and loan companies, mortgage companies, credit services)': 403,
         'Florist, greenhouses': 11,
         'Forest, parks, recreational areas': 49,
         'Golf courses, driving ranges': 37,
         'Grazing land soil capability Class I': 19,
         'Grazing land soil capability Class II': 202,
         'Heavy industrial, heavy equipment manufacturing, large machine shops, foundries, steel fabricating plants, auto or aircraft plants': 237,
         'Homes for the aged': 98,
         'Hospitals': 7,
         'Hotels, motels': 10092,
         'Improved agricultural': 3076,
         'Insurance company offices': 29,
         'Leasehold interests (government owned property leased by a non-governmental lessee)': 71,
         'Light manufacturing, small equipment manufacturing plants, small machine shops, instrument manufacturing printing plants': 10004,
         'Lumber yards, sawmills, planing mills': 44,
         'Military': 1,
         'Mineral processing, phosphate processing, cement plants, refineries, clay plants, rock and gravel plants.': 86,
         'Miscellaneous Residential (migrant camps, boarding homes, etc.)': 71,
         'Mixed use - store and office or store and residential or residential combination': 1532,
         'Mobile Homes': 286,
         'Mortuaries, cemeteries, crematoriums': 214,
         'Multi-family - 10 units or more': 3377,
         'Multi-family - less than 10 units': 32170,
         'Municipal, other than parks, recreational areas, colleges, hospitals': 657,
         'Nightclubs, cocktail lounges, bars': 89,
         'Office buildings, non-professional service buildings, multi-story': 6628,
         'Office buildings, non-professional service buildings, one story': 1141,
         'Open storage, new and used building supplies, junk yards, auto wrecking, fuel storage, equipment and material storage': 259,
         'Orchard Groves, Citrus, etc.': 1148,
         'Ornamentals, miscellaneous agricultural': 1400,
         'Orphanages, other non-profit or charitable services': 50,
         'Other food processing, candy factories, bakeries, potato chip factories': 71,
         'Outdoor recreational or parkland, or high-water recharge subject to classified use assessment.': 2495,
         'Packing plants, fruit and vegetable packing plants, meat packing plants': 69,
         'Parking lots (commercial or patron) mobile home parks': 2169,
         'Poultry, bees, tropical fish, rabbits, etc.': 16,
         'Private schools and colleges': 562,
         'Privately owned hospitals': 62,
         'Professional service buildings': 2921,
         'Public county schools - include all property of Board of Public Instruction': 418,
         'Race tracks; horse, auto or dog': 7,
         'Regional Shopping Centers': 70,
         'Repair service shops (excluding automotive), radio and T.V. repair, refrigeration service, electric repair, laundries, laundromats': 207,
         'Restaurants, cafeterias': 791,
         'Retirement Homes not eligible for exemption.': 39,
         'Right-of-way, streets, roads, irrigation channel, ditch, etc.': 27,
         'Rivers and lakes, submerged lands': 359,
         'Sanitariums, convalescent and rest homes': 54,
         'Service stations': 747,
         'Single Family': 371150,
         'State, other than military, forests, parks, recreational areas, colleges, hospitals': 153,
         'Stores, one story': 5731,
         'Subsurface rights': 198,
         'Supermarkets': 69,
         'Tourist attractions, permanent exhibits, other entertainment facilities, fairgrounds (privately owned).': 60,
         'Undefined - Reserved for future use': 19413,
         'Utility, gas and electricity, telephone and telegraph, locally assessed railroads, water and sewer service, pipelines, canals, radio/television communication': 276,
         'Vacant , with or without extra features': 166,
         'Vacant Commercial': 5756,
         'Vacant Industrial': 2573,
         'Vacant Residential': 31911,
         'Warehousing, distribution terminals, trucking terminals, van and storage warehousing': 5261,
         'Wholesale outlets, produce houses, manufacturing outlets': 145})